<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700|Material+Icons' rel="stylesheet">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>{% block title %}{% endblock title %}</title>
  {% block head %}
  <style>
    * {
      background-color: #f6f9fc;
    }
    .input-group.input-group--solo label {
      top: 14px;
    }
    a:hover {
      text-decoration: underline !important;
    }
    h1.headline > a:hover {
      text-decoration: none!important;
    }
    div.layout.row.wrap.justify-center {
      margin-top: 2em;
    }
    div.layout.row.wrap.justify-center > div.flex.xs2.py-3.text-xs-center > a {
      color: rgb(136, 152, 170);
      text-decoration: none;
    }
    div.layout.row.wrap.justify-center > div.flex.xs12.py-3.text-xs-center {
      color: #8898aa;
    }
    div.card > .container > .layout.wrap.row > .flex.xs3 > h1.headline {
      font-weight: 800;
      line-height: 56px!important;
    }
    div.card > .container > .layout.wrap.row > .flex.xs3 > h1.headline > a {
      text-decoration: none;
      color: white;
    }
    div.card > .container > .layout.wrap.row > .flex.xs3 > .layout.wrap.row > .flex.xs4 > a.title {
      color: #FAFAFA;
      line-height: 56px!important;
      text-decoration: none;
    }
    div.card > .container > .layout.wrap.row > .flex.xs3 > .layout.wrap.row > .flex.xs4 > a.title.secondary-title {
      color: #00b1b3!important;
      font-weight: 800;
    }
    [v-cloak] {
      display: none;
    }
  </style>
  {% endblock head %}
</head>
<body>
  <div id="app" v-cloak>
    <v-app>
      {% block content %}
      <v-card flat color="blue darken-3">
        <v-container>
          <v-layout wrap row>
            <v-flex xs3 xl2>
              <h1 class="headline"><a href="/">CLUB CODING</a></h1>
            </v-flex>
            <v-flex xs0 xl1></v-flex>
            <v-flex xs6 xl6></v-flex>
            <v-flex xs0 xl1></v-flex>
            <v-flex xs3 xl2>
              <v-layout wrap row>
                <v-flex xs4></v-flex>
                <v-flex xs4>
                  <a href="/login" class="title">SIGN IN</a>
                </v-flex>
                <v-flex xs4>
                  <a href="/signup" class="title secondary-title">SIGN UP</a>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
      {% endblock content %}

      <v-divider></v-divider>
      <v-layout row wrap justify-center>
        <v-flex xs2 py-3 text-xs-center>
          <a href="/terms_of_service">Terms of Service</a>
        </v-flex>
        <v-flex xs2 py-3 text-xs-center>
          <a href="/privacy_policy">Privacy Policy</a>
        </v-flex>
        <v-flex xs2 py-3 text-xs-center>
          <a href="/cookie_policy">Cookie Policy</a>
        </v-flex>
        <v-flex xs12 py-3 text-xs-center>
          &copy;2018 — <strong>CLUB CODING</strong>
        </v-flex>
      </v-layout>

    </v-app>
  </div>
 
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
  {% block script %}
  <script>
    new Vue({
      el: '#app',
      delimiters: ["${","}"],
      data: {
        {% block data %}{% endblock data %}
      }
    })
  </script>
  {% endblock script %}
</body>
</html>