<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700|Material+Icons' rel="stylesheet">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>{% block title %}{% endblock title %}</title>
  {% block head %}
  <style>
    .input-group.input-group--solo label {
      top: 14px;
    }
    a:hover {
      text-decoration: underline !important;
    }
    h1.headline > a:hover {
      text-decoration: none!important;
    }
    footer.footer > div.layout.row.wrap.justify-center > div.flex.xs12.py-3.text-xs-center.white--text > a {
      color: white;
      text-decoration: none;
    }
    [v-cloak] {
      display: none;
    }
  </style>
  {% endblock head %}
</head>
<body>
  <div id="app" v-cloak>
    <v-app>
      {% block content %}
      <v-card color="grey darken-2">
        <v-container>
          <v-layout wrap row>
            <v-flex xs3 xl2>
              <h1 class="headline" style="font-weight: 800; color: white; line-height: 56px!important;"><a style="text-decoration: none; color: white;" href="/">CLUB CODING</a></h1>
            </v-flex>
            <v-flex xs0 xl1></v-flex>
            <v-flex xs6 xl6>
              <v-card style="padding: 0 8px">
                <v-layout wrap row>
                  <v-flex xs10>
                    <v-form method="GET" action="/search">
                      <v-text-field style="height: 100%;" name="search_query" prepend-icon="search" solo flat label="WHAT ARE YOU INTERESTED IN?"></v-text-field>
                    </v-form>
                  </v-flex>
                  <v-flex xs2>
                    <v-btn large block style="color: white; background-color: #00b1b3;">SEARCH</v-btn>
                  </v-flex>
                </v-layout>
              </v-card>
            </v-flex>
            <v-flex xs0 xl1></v-flex>
            <v-flex xs3 xl2>
              <v-layout wrap row>
                <v-flex xs4></v-flex>
                <v-flex xs4>
                  <a href="/login" class="title" style="color: #FAFAFA; line-height: 56px!important; text-decoration: none;">SIGN IN</a>
                </v-flex>
                <v-flex xs4>
                  <a href="/signup" class="title" style="color: #00b1b3!important; line-height: 56px!important; text-decoration: none; font-weight: 800;">SIGN UP</a>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
      {% endblock content %}

      <v-footer height="auto" style="background-color: #4d545d; padding: 2em;">
        <v-layout row wrap justify-center>
          <v-flex xs12 py-3 text-xs-center white--text>
            &copy;2018 — <strong>CLUB CODING</strong>
            <a href="/terms_of_service">Terms of Service</a>
            <a href="/privacy_policy">Privacy Policy</a>
            <a href="/cookie_policy">Cookie Policy</a>
          </v-flex>
        </v-layout>
      </v-footer>

    </v-app>
  </div>
 
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
  {% block script %}
  <script>
    new Vue({
      el: '#app',
      delimiters: ["${","}"],
      data: {
        {% block data %}{% endblock data %}
      }
    })
  </script>
  {% endblock script %}
</body>
</html>