{% extends "base" %}
{% block title %}{{ header }}{% endblock title %}
{% block head %}
  <style>
    #main {
      margin-top: 20vh;
      padding: 2em;
    }
  </style>
{% endblock head %}
{% block content %}
  {{ super() }}
  <v-container>
    <v-layout wrap row>
      <v-flex xs8 offset-xs2>
        <v-card id="main">
          <h1 class="display-1">Privacy policy</h1>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
{% endblock content %}