<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700|Material+Icons' rel="stylesheet">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>{% block title %}{% endblock title %}</title>
  <style>
    .input-group.input-group--solo label {
      top: 14px;
    }
    h1.headline > a:hover, div.list > div > a.list__tile.list__tile--link:hover {
      text-decoration: none!important;
    }
    [v-cloak] {
      display: none;
    }
  </style>
  {% block head %}
  {% endblock head %}
</head>
<body>
  <div id="app" v-cloak>
    <v-app>
      {% block content %}
      <v-card style="background-color: #4d545d;">
        <v-container>
          <v-layout wrap row>
            <v-flex xs3 xl2>
              <h1 class="headline" style="font-weight: 800; color: white; line-height: 56px!important;"><a style="text-decoration: none; color: white;" href="/">CLUB CODING</a></h1>
            </v-flex>
            <v-flex xs0 xl1></v-flex>
            <v-flex xs6 xl6>
              <v-card style="padding: 0 8px">
                <v-layout wrap row>
                  <v-flex xs10>
                    <v-text-field style="height: 100%;" prepend-icon="search" solo flat label="WHAT ARE YOU INTERESTED IN?"></v-text-field>
                  </v-flex>
                  <v-flex xs2>
                    <v-btn large block style="color: white; background-color: #00b1b3;">SEARCH</v-btn>
                  </v-flex>
                </v-layout>
              </v-card>
            </v-flex>
            <v-flex xs1 xl1></v-flex>
            <v-flex xs2 xl2>
              <v-menu offset-y>
                <v-btn large outline color="white" slot="activator">{{ username }}<v-icon>arrow_drop_down</v-icon></v-btn>
                <v-list>
                  <v-list-tile href="/admin/users">
                    <v-list-tile-title>All Users</v-list-tile-title>
                  </v-list-tile>
                  <v-list-tile href="/admin/series">
                    <v-list-tile-title>All Series</v-list-tile-title>
                  </v-list-tile>
                  <v-list-tile href="/admin/videos">
                    <v-list-tile-title>All Videos</v-list-tile-title>
                  </v-list-tile>
                  <v-list-tile href="/settings/subscription">
                    <v-list-tile-title>Subcription</v-list-tile-title>
                  </v-list-tile>
                  <v-list-tile href="/settings/password">
                    <v-list-tile-title>Password</v-list-tile-title>
                  </v-list-tile>
                  <v-list-tile href="/logout">
                    <v-list-tile-title>Logout</v-list-tile-title>
                  </v-list-tile>
                </v-list>
              </v-menu>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
      {% endblock content %}

      <v-footer height="auto" style="background-color: #4d545d; padding: 2em;">
        <v-layout row wrap justify-center>
          <v-flex xs12 py-3 text-xs-center white--text>
            &copy;2018 — <strong>CLUB CODING</strong>
          </v-flex>
        </v-layout>
      </v-footer>

    </v-app>
  </div>
 
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
  {% block script %}
  <script>
    new Vue({
      el: '#app',
      delimiters: ["${","}"],
      data: {
        {% block data %}{% endblock data %}
      }
    })
  </script>
  {% endblock script %}
</body>
</html>